<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <title>Index EliBaExpress</title>
</head>
<body>
    <%- include('../partials/header') %>

    <h1 class="text-center">Administrar Productos</h1>

    <div class="mx-auto table-responsive" style="max-width: 20cm;" id="containerArticulos">
    
    </div>

    <script src="/js/editarCostosAdmin.js"></script>
    <%- include('../partials/footer') %>

</body>
</html>