<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <title> EliBaExpress - Administrador</title>
</head>
<body>
    <%- include('../partials/header') %>

    <h1 class="text-center">Administrar Productos</h1>

    <div class="mx-auto table-responsive" style="max-width: 20cm;" id="containerArticulos">
    
    </div>

    <!-- moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js" integrity="sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/locale/es-mx.min.js" integrity="sha512-xDkjENZG+aLSnyKKVe8hFVXGnxSUXZmTHifRsaaGhRhFpEhLJTksMuqB/9zQHJ3xYwG0JAhFi0a6eG41n1I6/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/editarCostosAdmin.js"></script>
    <%- include('../partials/footer') %>

</body>
</html>