<style>
  .grecaptcha-badge{
    display: none;
  }
</style>

<footer class="mt-5 mx-auto" style="max-width: 95%;">
    
  <div class="text-center m-2 bg-white rounded p-2">
    
    <a href="" class="btn btn-lg btn-success" id="btnWh2ArribaFooter" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
      <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
    </svg> Contactar</a> 
  </div>
  <script type="text/javascript">
    let linkWhFooter = 'https://wa.me/5491130201084/?text='+  encodeURIComponent(location.href +'\n\nHola EliBaExpress!!\nQuiero que me llamen para conocerlos y comprar.\nGracias!')
    document.querySelector('#btnWh2ArribaFooter').setAttribute("href", linkWhFooter)
  </script>

<!-- facebook -->
<!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61556273251848&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col">
          <div class="card border-0">
            <hr>
            <img src="/img/iconos/fotoCamion.jpg" class="rounded mx-auto" width="200" height="200" alt="envios">
            <div class="card-body">
              <h5 class="card-title">Envíos</h5>
              <p class="card-text">
                Hacemos envíos a todo el país por el trasporte que conozcas, 
                solo cobramos por bulto para llevarlo hasta el deposito.
                El costo del envío lo paga el cliente en destino.
                Enviamos por Via Cargo, Md Cargas, Oca, etc. por ejemplo.
            </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0">
            <hr>
            <img src="/img/iconos/precio.png" class="rounded mx-auto" width="150" height="150" alt="precios">
            <div class="card-body">
              <h5 class="card-title">Precios</h5>
              <p class="card-text">
                La casa se reserva el derecho a la modificación de precios, sin previo aviso. 
                <i> Precios publicados sin incluir impuestos. </i>
                Para confirmar una compra contactese con nuestros vendedores.    
            </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <hr>
            <img src="/img/iconos/card-pagar.png" class="rounded mx-auto" width="200" height="200" alt="pagos">
            <div class="card-body">
              <h5 class="card-title">Forma de pago</h5>
              <p class="card-text">Todos los descuentos son en efectivo cash billete. También aceptamos transferencias bancarias y tarjetas de credito y debito, consultar antes.</p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card border-0">
                <hr>
              <img src="/img/iconos/contacto.jpeg" class="rounded mx-auto" width="200" height="200" alt="...">
              <div class="card-body">
                <h5 class="card-title">Contacto</h5>
                <p class="card-text">
                  <div class="list-group">
                      <article class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Email</h5>
                        </div>
                        <a href="mailto:elibaexpress@gmail.com">EliBaExpress@gmail.com</a>
                        <small class="d-block">Consultas, presupuestos, reclamos y legales</small>
                      </article>
                      <article class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">WhatsApp</h5>
                        </div>
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=5491130201084&&text=Hola! cuando puedan, quiero que me llamen para hacerles un pedido. Gracias.">+54 9 11 3020-1084</a>
                        <small class="d-block">Pedidos y Consultas</small>
                      </article>
                      <article class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Dirección</h5>
                        </div>
                        <a >Av. corrientes 2079, 1 piso - Buenos Aires - Argentina</a>
                        <small class="d-block">Oficina central</small>
                      </article>
                    </div>
                </p>
              </div>
            </div>
          </div>

          <div class="col mx-auto ">
            <div class="card border-0 text-center ">
              <hr>
              <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-facebook mx-auto text-primary rounded-pill" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
              </svg>
              <div class="card-body d-flex justify-content-center">
                <iframe  src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61556273251848&tabs=timeline&width=280&height=350&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="280" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>            </div>
              <div class="card-footer">
                <iframe id="btnCompartirXfacebook" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Felibaexpress.com.ar%2Fproducts%2Fdetail%2F65c8e362a7ee669cfa2cd478%2F%3Ft%3DTela-Arpillera&layout&size&width=99&height=20&appId" width="99" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                <script type="text/javascript">
                  let linkbtnCompartirXfacebook = 'https://www.facebook.com/plugins/share_button.php?href='+  encodeURIComponent(location.href)
                  document.querySelector('#btnCompartirXfacebook').setAttribute("src", linkbtnCompartirXfacebook)
                </script>
              </div>
            </div>
          </div>
  
      </div>

      <div class="card-footer text-center my-4 mx-2 p-2 bg-secondary text-white rounded-pill"><p class="p-0 m-0">EliBaExpress</p></div>
</footer>