<style>
  .grecaptcha-badge{
    display: none;
  }
</style>

<footer class="mt-5 mx-auto" style="max-width: 95%;">
    
  <div class="text-center m-2 bg-white rounded p-2">
    <a href="" class="btn btn-lg btn-success" id="btnWh2ArribaFooter" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
      <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
    </svg> Contactar</a> 
  </div>

  <div style="position: fixed; bottom:40px;right: 20px; z-index: 10;">
    <div class="rounded-pill   m-1 position-relative text-center" style="border: rgb(18, 188, 18) solid 2px; background: white;" >
      <a href="" id="btnWh4FooterFixed" target="_blank" class="text-success text-center p-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-whatsapp m-1" viewBox="0 0 16 16">
          <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
        </svg>
      </a>
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
        <span class="visually-hidde"></span>
      </span>
    </div>
  </div>


  <script type="text/javascript">
    let linkWhFooter = 'https://wa.me/5491130201084/?text='+  encodeURIComponent(location.href +'\n\nHola EliBaExpress!!\nQuiero que me llamen para conocerlos y comprar.\nGracias!')
    document.querySelector('#btnWh2ArribaFooter').setAttribute("href", linkWhFooter)
    document.querySelector('#btnWh4FooterFixed').setAttribute("href", linkWhFooter)
  </script>

<!-- facebook -->
<!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61556273251848&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-3">
        <div class="col">
          <div class="card border-0">
            <hr>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-truck rounded mx-auto" viewBox="0 0 16 16">
              <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
            </svg>
            <div class="card-body">
              <h5 class="card-title">Envíos</h5>
              <p class="card-text">
                Hacemos envíos a todo el país por el trasporte que conozcas, 
                solo cobramos por bulto para llevarlo hasta el deposito.
                El costo del envío lo paga el cliente en destino.
                Enviamos por Via Cargo, Md Cargas, Oca, etc. por ejemplo.
            </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0">
            <hr>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-coin rounded mx-auto" viewBox="0 0 16 16">
              <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
            </svg>
            <div class="card-body">
              <h5 class="card-title">Precios</h5>
              <p class="card-text">
                La casa se reserva el derecho a la modificación de precios, sin previo aviso. 
                <i> Precios publicados sin incluir impuestos. </i>
                Para confirmar una compra contactese con nuestros vendedores.    
            </p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Forma de pago</h5>
              <p class="card-text">Todos los descuentos son en efectivo cash billete. También aceptamos transferencias bancarias y tarjetas de credito y debito. Consultar antes.</p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card border-0">
                <hr>
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-lines-fill rounded mx-auto" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
              </svg>
              <div class="card-body">
                <h5 class="card-title">Contacto</h5>
                <p class="card-text">
                  <div class="list-group">
                      <article class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Email</h5>
                        </div>
                        <a href="mailto:elibaexpress@gmail.com">EliBaExpress@gmail.com</a>
                        <small class="d-block">Consultas, presupuestos, reclamos y legales</small>
                      </article>
                      <article class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">WhatsApp</h5>
                        </div>
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=5491130201084&&text=Hola! cuando puedan, quiero que me llamen para hacerles un pedido. Gracias.">+54 9 11 3020-1084</a>
                        <small class="d-block">Pedidos y Consultas</small>
                      </article>
                      <article class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Dirección</h5>
                        </div>
                        <br>
                        <a >Av. corrientes 2079, 1 piso - Buenos Aires - Argentina</a>
                        <small class="d-block">Oficina central</small>
                        <br>
                        <a>Av. corrientes 2095 - Buenos Aires - Argentina</a>
                        <small class="d-block">Retirar pedidos</small>
                      </article>
                    </div>
                </p>
              </div>
            </div>
          </div>

          <!-- <div class="col mx-auto ">
            <div class="card border-0 text-center ">
              <hr>
              <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-facebook mx-auto text-primary rounded-pill" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
              </svg>
              <div class="card-body d-flex justify-content-center">
                <iframe  src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61556273251848&tabs=timeline&width=280&height=350&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="280" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>            </div>
              <div class="card-footer">
                <iframe id="btnCompartirXfacebook" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Felibaexpress.com.ar%2Fproducts%2Fdetail%2F65c8e362a7ee669cfa2cd478%2F%3Ft%3DTela-Arpillera&layout&size&width=99&height=20&appId" width="99" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                <script type="text/javascript">
                  let linkbtnCompartirXfacebook = 'https://www.facebook.com/plugins/share_button.php?href='+  encodeURIComponent(location.href)
                  document.querySelector('#btnCompartirXfacebook').setAttribute("src", linkbtnCompartirXfacebook)
                </script>
              </div>
            </div>
          </div> -->
  
      </div>

      <div class="card-footer text-center my-4 mx-2 p-2 bg-secondary text-white rounded-pill"><p class="p-0 m-0">EliBaExpress</p></div>
</footer>