<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not found</title>
</head>
<body>
    <%- include('../partials/header') %>

    <h1 class="text-center m-5 fondoGradient" style="min-height: 10vh;">Pagina no encontrada</h1>

    <%- include('../partials/footer') %>

</body>
</html>