<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <title> EliBaExpress - Perfil </title>
</head>
<body>
    <%- include('../partials/header') %>
 
        <h1 class="text-center">Perfil</h1>

    <%- include('../partials/footer') %>

</body>
</html>